# Python related code
*.py @Rob-Zhang

# Java Script related code
*.tsx @Rob-Zhang
*.ts @Rob-Zhang
*.cjs @Rob-Zhang

# HTML & CSS related code
*.html @Rob-Zhang
*.css @Rob-Zhang
*.scss @Rob-Zhang

# JSON related code
*.json @Rob-Zhang

# DevOps related code
*.yml @Rob-Zhang
*.yaml @Rob-Zhang

# Terraform
*.tf @Rob-Zhang

# Docker related code
Dockerfile @Rob-Zhang
*.prod @Rob-Zhang
