.mypy_cache
.pytest_cache
__pycache__
.coverage
.gitignore
.github
*.md
env
.dockerignore
Dockerfile
Dockerfile.prod
docker-compose.yaml
docker-compose.demo.yaml
.eslintrc.js
requirements-build.txt
requirements-lint.txt
requirements-test.txt
requirements-dev.txt
requirements-prod.txt
CONTAINER.md
README.md
node_modules/

.devcontainer
.vscode
volumes
.pre-commit-config.yaml
.codecov.yaml
LICENSE.md
Makefile
tests
pyproject.toml
poetry.lock